#box1{
    color: orange;
    border: solid 10px;
    background-color: orange;
    height: 180px;
}
#box2{
    color: white;
    border: solid 10px;
    background-color: white;
    height: 180px;
}
#box3{
    border: solid 10px;
    color: green;
    background-color: green;
    height: 180px;
}